<div class="flex min-h-screen items-center justify-center px-4 py-24">
  <div class="w-full max-w-md rounded-2xl bg-white p-8 shadow-xl">
    <h1
      class="text-center text-3xl md:text-4xl font-bold text-slate-900 lg:text-left"
    >
      Forgot password?
    </h1>

    <p class="mt-3 text-center text-gray-500 lg:text-left">
      No worries, we'll send you reset instructions.
    </p>

    <!-- Form -->
    <form [formGroup]="form" (ngSubmit)="submit()" class="mt-8 space-y-6">
      <div>
        <label
          class="mb-2 block text-sm font-semibold uppercase tracking-wide text-gray-600"
        >
          Email Address
        </label>

        <input
          type="email"
          formControlName="email"
          placeholder="Enter your email"
          class="h-12 w-full rounded-md border border-blue-100 bg-[#E8EEFF] px-4 outline-none transition focus:border-blue-500 focus:ring-2 focus:ring-blue-200"
        />
      </div>

      @if (serverError) {
        <p class="text-red-500 text-sm text-center">{{ serverError }}</p>
      }

      <button
        type="submit"
        class="h-12 w-full rounded-md bg-blue-700 font-semibold text-white transition hover:bg-blue-800"
        [disabled]="loading || form.invalid"
      >
        {{ loading ? "Sending..." : "Send Reset Link" }}
      </button>

      <a
        routerLink="/login"
        type="button"
        class="flex items-center justify-center gap-2 text-blue-700 hover:underline curser-pointer"
      >
        <img src="../../../../../assets/images/arrowBack.svg" />
        Back to log in
      </a>
    </form>

    <!-- Divider -->
    <div class="my-8 h-px bg-slate-100"></div>

    <div class="flex flex-col items-center justify-center gap-3">
      <!-- Success Message -->
      @if (success) {
        <div class="flex items-center gap-3">
          <div
            class="flex justify-center gap-3 bg-emerald-100 text-emerald-700 p-2 mb-2"
          >
            <img src="../../../../../assets/images/arrowSuccess.svg" />
            <p class="text-sm text-emerald-900">
              If an account exists with this email, we've sent a password reset
              link.
            </p>
          </div>
        </div>
      }

      <button
        (click)="resend()"
        [disabled]="!canResend || resendCount >= 3"
        class="mb-2 text-center text-xs font-bold uppercase tracking-wider text-gray-500"
      >
        Didn't receive the email?
      </button>

      @if (resendCount >= 3) {
        <span> Maximum resend attempts reached. </span>
      }

      <div class="rounded-lg bg-emerald-50">
        <!-- Resend -->
        <p
          disabled
          class="px-20 md:px-30 py-3 rounded-md bg-[#EEF2FF] font-semibold text-gray-500"
        >
          Resend in
          @if (!canResend) {
            <span> {{ remainingSeconds }}s </span>
          }
        </p>
      </div>
    </div>
  </div>
</div>
