<div class="flex flex-col items-center justify-center py-24">
  <img src="../../../../assets/images/empty.svg" class="w-72" />

  <h2 class="mt-8 text-5xl font-bold text-[#0F2B63]">No Projects</h2>

  <p class="mt-5 max-w-lg text-center text-gray-500 leading-8">
    You don't have any projects yet.
  </p>

  <a
    routerLink="/projects/add"
    class="mt-10 h-14 px-8 bg-[#165DFF] text-white font-semibold flex items-center gap-3 shadow-xl hover:bg-blue-700 transition"
  >
    <img
      src="../../../../assets/images/plusWhite.svg"
      alt="plus"
      class="w-4 h-4"
    />
    Create New Project
  </a>
</div>
