<!-- <div class="flex items-center justify-center min-h-screen px-4 py-10">
  <div class="md:bg-white max-w-130 p-6 md:p-10 shadow-sm">
    <h1 class="text-4xl font-bold text-[#001B48] mb-3 text-center">
      Create your workspace
    </h1>

    <p class="text-center text-slate-500 mb-10">
      Join the editorial approach to task management.
    </p> -->

<app-card
  shadow="sm"
  title=" Create your workspace"
  subtitle="Join the editorial approach to task management."
>
  <form [formGroup]="form" (ngSubmit)="submit()" class="space-y-6">
    <div>
      <app-input
        label="Name"
        placeholder="Enter your full name"
        icon="fa-user"
        [control]="form.controls.name"
      >
      </app-input>
    </div>

    <div>
      <app-input
        label="Email"
        placeholder="yourname@company.com"
        type="email"
        icon="fa-envelope"
        [control]="form.controls.email"
      >
      </app-input>
    </div>

    <div>
      <app-input
        label="Job Title"
        placeholder="e.g. Project Manager"
        [optional]="true"
        [control]="form.controls.jobTitle"
      >
      </app-input>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
      <app-input
        label="Password"
        placeholder="Password"
        type="password"
        [showPasswordToggle]="true"
        [control]="form.controls.password"
      >
      </app-input>

      <app-input
        label="Confirm Password"
        placeholder="Repeat your password"
        type="password"
        [showPasswordToggle]="true"
        [control]="form.controls.confirmPassword"
      >
      </app-input>
    </div>

    <div>
      <app-password-requirements [requirements]="passwordRequirements">
      </app-password-requirements>
    </div>

    @if (form.errors?.["passwordMismatch"]) {
      <p class="text-red-500 text-sm">Passwords do not match.</p>
    }
    @if (serverError) {
      <p class="text-red-500 text-sm text-center">{{ serverError }}</p>
    }

    <button
      type="submit"
      class="w-full bg-blue-700 hover:bg-blue-800 text-white py-4 rounded-xl font-semibold"
    >
      {{ loading ? "Creating Account..." : "Create Account" }}
    </button>
  </form>

  <p class="text-center mt-10 text-slate-500">
    Already have an account?

    <a routerLink="/login" class="text-blue-700 font-semibold ml-2"> Log in </a>
  </p>
  <!-- </div>
</div> -->
</app-card>
