<app-card
  shadow="sm"
  title="Welcome Back"
  subtitle="Please enter your details to access your workspace"
>
  <form [formGroup]="form" (ngSubmit)="submit()" class="space-y-6">
    <!-- Email -->
    <div>
      <app-input
        label="Email"
        placeholder="yourname@company.com"
        type="email"
        icon="fa-envelope"
        [control]="form.controls.email"
      >
      </app-input>
    </div>

    <!-- Password Row -->
    <div>
      <app-input
        label="Password"
        placeholder="Password"
        type="password"
        [showPasswordToggle]="true"
        [control]="form.controls.password"
      >
      </app-input>
    </div>

    <!-- Forgot Password -->
    <div class="flex justify-between items-center mb-3">
      <div class="flex items-center">
        <input type="checkbox" id="remember-me" class="cursor-pointer" />
        <p class="text-slate-500 ml-2">Remember Me</p>
      </div>
      <a routerLink="/forgot-password" class="text-blue-700 font-semibold ml-2">
        Forgot Password?
      </a>
    </div>

    @if (serverError) {
      <p class="text-red-500 text-sm text-center">{{ serverError }}</p>
    }

    <!-- <button
        type="submit"
        class="w-full bg-[#003D9B] hover:bg-blue-800 text-white py-4 rounded-xl font-semibold lg:mt-10"
      >
        {{loading ? 'Logging In...' : 'Log In'}}
      </button> -->
    <div class="mb-3">
      <app-button
        type="submit"
        [loading]="loading"
        [fullWidth]="true"
        class="lg:mt-10"
      >
        Login
      </app-button>
    </div>
  </form>

  <p class="text-center text-slate-500 mt-25 lg:mt-10">
    Don’t have an account?

    <a routerLink="/sign-up" class="text-blue-700 font-semibold ml-2">
      Sign up
    </a>
  </p>
</app-card>


