@if (accessToken) {
  <div class="flex items-center justify-center min-h-screen px-4 py-10">
    <div class="bg-white rounded-3xl w-full max-w-150 p-6 md:p-12 shadow-sm">
      <h1 class="text-4xl font-bold text-[#001B48] mb-3 text-center">
        Create a New Password
      </h1>

      <p class="text-center text-slate-500 mb-10">
        Create a new, strong password to secure your workstation access.
      </p>

      <form
        [formGroup]="resetForm"
        (ngSubmit)="resetPassword()"
        class="space-y-6"
      >
        <!-- Password Row -->

        <div class="grid md:grid-cols-2 gap-4">
          <div>
            <label class="label"> New Password </label>

            <div class="relative">
              <input
                [type]="hidePassword ? 'password' : 'text'"
                class="input pr-12"
                formControlName="password"
                placeholder="Password"
              />

              <button
                type="button"
                class="absolute right-4 top-1/2 -translate-y-1/2"
                (click)="hidePassword = !hidePassword"
              >
                @if (hidePassword) {
                  <img
                    src="../../../../../assets/images/eye-slash.svg"
                    alt="Hide Password"
                  />
                } @else {
                  <img
                    src="../../../../../assets/images/eye.svg"
                    class="mt-2"
                    alt="Show Password"
                  />
                }
              </button>
            </div>
          </div>

          <div class="relative">
            <label class="label"> Confirm Password </label>

            <input
              [type]="hideConfirmPassword ? 'password' : 'text'"
              class="input"
              formControlName="confirmPassword"
              placeholder="Repeat your password"
            />
            <button
              type="button"
              class="absolute right-4 top-2/3 -translate-y-1/2"
              (click)="hideConfirmPassword = !hideConfirmPassword"
            >
              @if (hideConfirmPassword) {
                <img
                  src="../../../../../assets/images/eye-slash.svg"
                  alt="Hide Password"
                />
              } @else {
                <img
                  src="../../../../../assets/images/eye.svg"
                  class="mt-2"
                  alt="Show Password"
                />
              }
            </button>
          </div>
        </div>

        <!-- Password Requirements -->
        <div class="rounded-2xl bg-indigo-50 border border-indigo-100 p-5">
          <h3 class="mb-4 text-sm font-semibold text-slate-700">
            Password requirements
          </h3>
          <div class="space-y-3">
            <!-- 8 Characters -->
            <div class="flex items-center gap-3">
              @if (hasMinLength) {
                <img
                  src="../../../../../assets/images/checkboxChecked.svg"
                  alt="checkboxChecked"
                />
              } @else if (!hasMinLength) {
                <img
                  src="../../../../../assets/images/checkbox.svg"
                  alt="checkbox"
                />
              }
              <span
                class="text-sm"
                [ngClass]="
                  hasMinLength ? 'text-green-600 font-medium' : 'text-slate-500'
                "
              >
                At least 8 characters
              </span>
            </div>

            <!-- Upper + Lower + Number -->
            <div class="flex items-center gap-3">
              @if (hasUpperLowerNumber) {
                <img
                  src="../../../../../assets/images/checkboxChecked.svg"
                  alt="checkboxChecked"
                />
              } @else if (!hasUpperLowerNumber) {
                <img
                  src="../../../../../assets/images/checkbox.svg"
                  alt="checkbox"
                />
              }
              <span
                class="text-sm"
                [ngClass]="
                  hasUpperLowerNumber
                    ? 'text-green-600 font-medium'
                    : 'text-slate-500'
                "
              >
                One uppercase, one lowercase and one number
              </span>
            </div>

            <!-- Special Character -->
            <div class="flex items-center gap-3">
              @if (hasSpecialChar) {
                <img
                  src="../../../../../assets/images/checkboxChecked.svg"
                  alt="checkboxChecked"
                />
              } @else if (!hasSpecialChar) {
                <img
                  src="../../../../../assets/images/checkbox.svg"
                  alt="checkbox"
                />
              }
              <span
                class="text-sm"
                [ngClass]="
                  hasSpecialChar
                    ? 'text-green-600 font-medium'
                    : 'text-slate-500'
                "
              >
                One special character
              </span>
            </div>
          </div>
        </div>

        @if (resetForm.errors?.["passwordMismatch"]) {
          <p class="text-red-500 text-sm">Passwords do not match.</p>
        }
        @if (serverError) {
          <p class="text-red-500 text-sm text-center">{{ serverError }}</p>
        }

        <button
          type="submit"
          class="w-full bg-blue-700 hover:bg-blue-800 text-white py-4 rounded-xl font-semibold"
        >
          Update Password
        </button>
      </form>

      <a routerLink="/login" class="text-blue-700 font-semibold ml-2">
        Back to sign in
      </a>
    </div>
  </div>
} @else {
  <div class="flex items-center justify-center min-h-screen px-4 py-10">
    <div class="bg-white rounded-3xl w-full max-w-150 p-6 md:p-12 shadow-sm">
      <h2 class="text-4xl font-bold text-[#001B48] mb-3 text-center">
        Invalid or expired reset link.
      </h2>

      <a
        routerLink="/forgot-password"
        class="text-blue-700 font-semibold text-center ml-2 block mt-4"
      >
        Request a new password reset link
      </a>
    </div>
  </div>
}
@if (success) {
  <div>
    Your password has been updated successfully. You can now log in.
    Redirecting...
  </div>
}
