@if (accessToken) {
  <!-- <div class="flex items-center justify-center min-h-screen px-4 py-10">
    <div class="bg-white rounded-3xl w-full max-w-150 p-6 md:p-12 shadow-sm"> -->
  <!-- <h1 class="text-4xl font-bold text-[#001B48] mb-3 text-center">
        Create a New Password
      </h1>

      <p class="text-center text-slate-500 mb-10">
        Create a new, strong password to secure your workstation access.
      </p> -->
  <app-card
    shadow="sm"
    title="Create a New Password"
    subtitle="Create a new, strong password to secure your workstation access."
  >
    <form
      [formGroup]="resetForm"
      (ngSubmit)="resetPassword()"
      class="space-y-6"
    >
      <!-- Password Row -->

      <div>
        <app-input
          label="New Password"
          placeholder="Enter your new password"
          type="password"
          [showPasswordToggle]="true"
          [control]="resetForm.controls.password"
        >
        </app-input>
      </div>

      <div>
        <app-input
          label="Confirm Password"
          placeholder="Repeat your password"
          type="password"
          [showPasswordToggle]="true"
          [control]="resetForm.controls.confirmPassword"
        >
        </app-input>
      </div>

      <div>
        <app-password-requirements
          [requirements]="passwordRequirements"
        ></app-password-requirements>
      </div>

      @if (resetForm.errors?.["passwordMismatch"]) {
        <p class="text-red-500 text-sm">Passwords do not match.</p>
      }
      @if (serverError) {
        <p class="text-red-500 text-sm text-center">{{ serverError }}</p>
      }

      <button
        type="submit"
        class="w-full bg-blue-700 hover:bg-blue-800 text-white py-4 rounded-xl font-semibold"
      >
        Update Password
      </button>
      <div class="text-center">
        <a routerLink="/login" class="text-blue-700 font-semibold ml-2">
          Back to sign in
        </a>
      </div>
    </form>

    <!-- </div>
  </div> -->
  </app-card>
} @else {
  <div class="flex items-center justify-center min-h-screen px-4 py-10">
    <div class="bg-white rounded-3xl w-full max-w-150 p-6 md:p-12 shadow-sm">
      <h2 class="text-4xl font-bold text-[#001B48] mb-3 text-center">
        Invalid or expired reset link.
      </h2>

      <a
        routerLink="/forgot-password"
        class="text-blue-700 font-semibold text-center ml-2 block mt-4"
      >
        Request a new password reset link
      </a>
    </div>
  </div>
}
@if (success) {
  <div>
    Your password has been updated successfully. You can now log in.
    Redirecting...
  </div>
}
